@model IEnumerable<Product>;
@{
    ViewData["Title"] = "Index";
}
<!-- PRODUCTS START -->

<section id="products">
    <div class="container">
        <input type="hidden" value="@ViewBag.ProductCount" id="product-count"/> 
        <div class="row" id="listProduct">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                    <div class="product-item text-center" data-id="@item.Category.Name.ToLower()">
                        <div class="img">
                            <a href="">
                                <img src="~/img/@item.ImageUrl" class="img-fluid" alt="">
                            </a> 
                        </div>
                        <div class="title mt-3">
                            <h6>@item.Name</h6>
                        </div>
                        <div class="price">
                            <span class="text-black-50">Add to cart</span>
                            <span class="text-black-50">$@item.Price</span>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row justify-content-center">
            <button class="btn btn-success my-5" id="load-more">
                Load More
            </button>
        </div>
    </div>
</section>
 
<!-- PRODUCTS END -->